body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-dark: #1a1a1aca;
  --primary: #ffdf00;
  --primary-light: #f6f6f6;
  --primary-lighter: #B7B7B7;
  --primary-lightest: #e4d889;
  --primary-white-normal:#3c3c3cca;
  --primary-white-hover:#F9F9F9;
  --primary-white-disabled:#F9F9F9;
  --primary-red-normal:#EE4335;
  --primary-red-disabled:#E3E3E3  ;

  --secondary-dark: #5c6b91;
  --secondary: #eaecf3;
  --secondary-light: #E45460;
  --secondary-lighter: #F69DA5;
  --secondary-lightest: #627cbf;

  --feedback-success: #5CB85C;
  --feedback-success-light: #DBFFDF;
  --feedback-warning: #EDC72C;
  --feedback-warning-light: #F8EEC9;
  --feedback-error: #FF3838;
  --feedback-error-light: #FFDDDD;
  --feedback-informative: #ACB4BC;
  --feedback-informative-light: #E4E7EB;
  --feedback-variant: #537FC0; 

  --auxiliary-blue-link:#015DAB;
  --auxiliary-red-border:#DC291E;
  --auxiliary-black:#000000;
  --auxiliary-gray-text:#333;
  --auxiliary-white-primary:#fff;
  --auxiliary-white-stroke:#9098a9;
  --auxiliary-white-border:#e8eaed;
  --auxiliary-gray-text-radiobutton:#414856;
  --auxiliary-gray-light:#5a667f;
  --auxiliary-gray-normal:#585858;
  --auxiliary-gray-darkest:#223254;
  --auxiliary-white-input-date:#c4c4c4;
}

.formFieldError {
  border: 1px solid #e11d48;
}

.formFieldErrorMessage {
  position: relative;
  top: 12px;
  color: #e11d48;
}